<!-- <input type="hidden" name="TAG" value="{{ .Page.Params.categories }}">
<form action="[您的ESP表单提交URL]" method="post">
    <input type="hidden" name="TOPIC" value="{{ .Page.Params.categories }}"> 

    <input type="email" name="EMAIL" placeholder="输入您的邮箱" required>
    <input type="submit" value="立即订阅洞察">
</form> -->


<!-- <input type="hidden" name="TAG" value="{{ .Page.Params.categories }}">
<form action="[您的ESP表单提交URL]" method="post">
    <input type="hidden" name="TOPIC" value="{{ .Page.Params.categories }}"> 

    <input type="email" name="EMAIL" placeholder="输入您的邮箱" required>
    <input type="submit" value="立即订阅洞察">
</form> -->